{% extends 'base.html.twig' %}

{% block title %}Gestion ZIBELLI Ludovic- Resultat recherche factures{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Résultat de la recherche</h1>
    <br>
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('factures') }}">Factures</a></li>
            <li class="breadcrumb-item active" aria-current="page">Résultat</li>
        </ol>
    </nav>
    <div class="table-responsive-sm table-responsive-md table-responsive-lg">
        <table class="table table-bordered table-secondary text-center">
            <thead>
            <tr>
                <th scope="col">N° de facture</th>
                <th scope="col" >Projet associer</th>
                <th scope="col" >Date d'édition</th>
                <th scope="col" >Date de paiement</th>
                <th scope="col" >Montant</th>
                <th scope="col" >Année d'exercice</th>
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            {% if resultat != null %}
                {% for facture in resultat %}
                    <tbody>
                    <tr>
                        <td class="font-weight-lighter align-middle">{{ facture.numerodefacture }}</td>
                        <td class="font-weight-lighter align-middle"><a class="dropdown-item" href="{{ path('tdbprojet', {id: facture.projet.id}) }}">{{ facture.projet }}</a></td>
                        <td class="font-weight-lighter align-middle">{{ facture.CreatedAt|date("d/m/Y H:i") }}</td>
                        <td class="font-weight-lighter align-middle">{{ facture.datedepaiement|date("d/m/Y H:i") }}</td>
                        <td class="font-weight-lighter align-middle">{{ facture.montantfacture}} €</td>
                        <td class="font-weight-lighter align-middle">{{ facture.AnneeExercice }}</td>
                        <td class="font-weight-lighter align-middle"><a href="{{ path ('editfacture', {id: facture.id})}}"><i class="fas fa-edit"></i></a></td>
                        <td class="font-weight-lighter align-middle">
                            <form method="POST" action="{{ path ('deletefacture', {id: facture.id})}}" style="display:inline-block">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.id)}}">
                                <button class="btn" onclick="return confirm('Voulez-vous vraiment supprimer cette facture?')"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>

                {% endfor %}
            {% else %}
                <tbody>
                <tr>
                    <td colspan="8" class="font-weight-lighter align-middle"> Aucun devis en cours</td>
                </tr>
                </tbody>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}