{% extends 'base.html.twig' %}

{% block title %}Gestion ZIBELLI Ludovic- Liste projets{% endblock %}

{% block body %}
    <div class="container text-center">
        {% for message in app.flashes('success')%}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <h1>Liste des projets</h1>
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{{ path('listeprojet') }}">Liste des projets</a></li>
            </ol>
        </nav>
        <br>
        <div class="col">
            <a class="btn btn-primary btn-block" href="{{ path('newprojet') }}" role="button"><i class="fas fa-plus-circle"></i> Nouveau</a>
        </div>
        <br>
        {{ form_start(form) }}
        <div class="card text-white bg-light mb-3">
            <div class="card-header">
                <h5>Filtrer</h5>
            </div>
            <div class="card-body">
                <div class="form-row align-items-end">
                    <div class="col">
                        {{ form_row(form.numeroProjet) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.nomProjet) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.societe) }}
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">Rechercher
                                {% if qd == 0 %}
                                {% else %}
                                <span class="badge bg-secondary">{{ qd }}</span>
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="table-responsive-sm table-responsive-md table-responsive-lg">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">N° de projet</th>
                    <th scope="col" >Nom du projet</th>
                    <th scope="col" >Société</th>
                    <th scope="col" >Avancement du projet</th>
                    <th scope="col" >Status</th>
                    <th scope="col" >Date de creation</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Editer</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for liste in listeprojet %}
                <tr>
                    <td class="font-weight-lighter align-middle">{{ liste.id }}</td>
                    <td class="font-weight-lighter align-middle"><a class="dropdown-item" href="{{ path('tdbprojet', {id: liste.id}) }}">{{ liste.nom }}</a></td>
                    {% for societe in liste.societe %}
                        <td>{{ societe.nom }}</td>
                    {% endfor %}
                    <td class="font-weight-lighter align-middle">
                        {% if liste.avancementprojet == 'intialisation' %}
                            Phase d'initialisation
                        {% endif %}
                        {% if liste.avancementprojet == 'lancement' %}
                            Phase de lancement
                        {% endif %}
                        {% if liste.avancementprojet == 'conception' %}
                            Phase de conception
                        {% endif %}
                        {% if liste.avancementprojet == 'production' %}
                            Phase de production
                        {% endif %}
                        {% if liste.avancementprojet == 'exploitation' %}
                            Phase d'exploitation
                        {% endif %}
                    </td>
                    <td class="font-weight-lighter align-middle">
                        {% if liste.statut == true %}
                            <p>Terminer</p>
                        {% else %}
                            <p>En cours</p>
                        {% endif %}
                    </td>
                    <td class="font-weight-lighter align-middle">{{ liste.CreatedAt|date("d/m/Y H:i") }}</td>
                    <td class="font-weight-lighter align-middle"><a class="dropdown-item" href="#"><i class="fas fa-address-card"></i></a></td>
                    <td class="font-weight-lighter align-middle"><a class="dropdown-item" href="{{ path ('editclient', {id: liste.id})}}"><i class="fas fa-edit"></i></a></td>
                    <td class="font-weight-lighter align-middle">
                        <form method="POST" action="{{ path ('deleteclient', {id: liste.id})}}" style="display:inline-block">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id)}}">
                            <button class="btn" onclick="return confirm('Voulez-vous vraiment supprimer ce client?')"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    </div>
{% endblock %}